@model DraughtSurveyWebApp.Models.UserHydrostaticTableHeader

@{
    ViewData["Details"] = "Details";
}

<h4>mv @Model.VesselName (IMO No. @Model.IMO)</h4>
<hr />
<div class="row">
    <div class="col-6">
        <h5>Hydrostatic Table</h5>
    </div>
    <div class="col-6 text-end">
        <a asp-action="AddRow" asp-route-headerId="@Model.Id" class="btn btn-outline-primary">Add Row</a>
        <a asp-action="Index" asp-controller="HydrostaticTables" class="btn btn-outline-secondary">Back</a>
    </div>
</div>
<hr />



<table class="table">
    <thead>
        <tr>
            <th>Draught</th>
            <th>Displacement</th>
            <th>TPC</th>
            <th>LCF</th>
            <th>LCF position</th>
            <th>MTC +50</th>
            <th>MTC -50</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.UserHydrostaticTableRows.OrderBy(r => r.Draught))
        {
            <tr>
                <td>@row.Draught</td>
                <td>@row.Displacement</td>
                <td>@row.TPC</td>
                <td>@row.LCF</td>
                <td>
                    @{
                        if (row.IsLcfForward == true)
                        {
                            @:Forward
                        }
                        else if (row.IsLcfForward == false)
                        {
                            @:Aft
                        }
                        else
                        {
                            @:
                        }
                    }
                </td>
                @* <td>@(row.IsLcfForward == true ? "Forward" : "Aft")</td> *@
                <td>@row.MTCPlus50</td>
                <td>@row.MTCMinus50</td>
                <td>
                    <a asp-action="EditRow" asp-route-id="@row.Id" class="btn btn-outline-primary btn-sm me-2 mb-1">Edit</a>
                    <a asp-action="DeleteRow" asp-route-id="@row.Id" class="btn btn-outline-primary btn-sm me-2 mb-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>