@model List<UserHydrostaticTableHeader>

@{
    ViewData["Title"] = "Index";
}

<h4>Your Hydrostatic Tables</h4>

<table class="table">
    <thead>
        <tr>
            
            <th>Vessel</th>
            <th>IMO</th>            
            @if (User.IsInRole("Admin"))
            {
                <th>User</th>
            }            
            <th>Rows</th>
            <th>Step</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VesselName</td>
                <td>@item.IMO</td>                
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @(item.ApplicationUser.Email)
                    </td>
                }
                <td>@item.UserHydrostaticTableRows?.Count</td>
                <td>@Math.Round(item.TableStep ?? 0, 3)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
