@model DraughtSurveyWebApp.ViewModels.HydrostaticInputViewModel

@{
    ViewData["Title"] = "Edit Hydrostatic";
}


    <form asp-action="Edit">

    <div class="row">
        <div class="col-6">
            <h4>Edit Hydrostatic</h4>
        </div>
        <div class="col-6 text-end">
            <div>
                <button type="submit" class="btn btn-primary me-2">Save</button>            
                <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
    <hr />


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InspectionId" />
        <input type="hidden" asp-for="DraughtSurveyBlockId" />

        <div class="row">
            <div class="col-lg-6">
                <h6>Initial Displacement, TPC, LCF</h6>
                <hr />

                <div class="row mb-2">
                    <div class="col-3">
                        <label></label>                        
                    </div>
                    <div class="col-3">
                        <label>D</label>
                    </div>
                    <div class="col-3">
                        <label>TPC</label>                        
                    </div>
                    <div class="col-3">
                        <label>LCF</label>                        
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3">
                        <label asp-for="DraughtAbove" class="control-label small-label"></label>
                        <input asp-for="DraughtAbove" class="form-control" type="number" step="0.001"/>
                        <span asp-validation-for="DraughtAbove" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DisplacementAbove" class="control-label small-label"></label>
                        <input asp-for="DisplacementAbove" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="DisplacementAbove" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="TPCAbove" class="control-label small-label"></label>
                        <input asp-for="TPCAbove" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="TPCAbove" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="LCFAbove" class="control-label small-label"></label>
                        <input asp-for="LCFAbove" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="LCFAbove" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3">
                        <label asp-for="MeanAdjustedDraughtAfterKeelCorrection" class="small-label"></label>
                        <input class="form-control" value="@Model.MeanAdjustedDraughtAfterKeelCorrection?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="DisplacementFromTable" class="small-label"></label>
                        <input class="form-control" value="@Model.DisplacementFromTable?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="TPCFromTable" class="small-label"></label>
                        <input class="form-control" value="@Model.TPCFromTable?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="LCFFromTable" class="small-label"></label>
                        <input class="form-control" value="@Model.LCFFromTable?.ToString("0.000")" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3">
                        <label asp-for="DraughtBelow" class="control-label small-label"></label>
                        <input asp-for="DraughtBelow" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="DraughtBelow" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DisplacementBelow" class="control-label small-label"></label>
                        <input asp-for="DisplacementBelow" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="DisplacementBelow" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="TPCBelow" class="control-label small-label"></label>
                        <input asp-for="TPCBelow" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="TPCBelow" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="LCFBelow" class="control-label small-label"></label>
                        <input asp-for="LCFBelow" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="LCFBelow" class="text-danger"></span>
                    </div>
                </div>                
                <hr />                

                <div class="row mb-2">
                    <div class="col-9">                        
                        <h6>LCF location relative to midship</h6>
                        @* <label class="form-label">LCF location relative to midship</label> *@
                    </div>                                        
                    <div class="col-3">
                        @* <label class="form-label small-label">LCF location relative to midship</label> *@
                        <div class="form-check">
                            <label class="form-check-label small-label" for="lcfForward">LCF FWD</label>
                            <input class="form-check-input" type="radio" asp-for="IsLCFForward" value="true" id="lcfForward"/>                            
                        </div>
                        <div class="form-check">
                            <label class="form-check-label small-label" for="lcfAft">LCF Aft</label>
                            <input class="form-check-input" type="radio" asp-for="IsLCFForward" value="false" id="lcfAft" />                            
                        </div>
                    </div>
                </div>
                <hr />

            </div>

            <div class="col-lg-6">
                <h6>Initial MTC +/-50 cm</h6>
                <hr />
                
                <div class="row mb-2">                    
                    <div class="col-6">
                        <label>MTC +50 cm</label>
                    </div>                    
                    <div class="col-6">
                        <label>MTC -50 cm</label>
                    </div>
                </div>                
                <div class="row mb-2">                    
                    <div class="col-3">
                        <label asp-for="DraughtAboveMTCPlus50" class="small-label"></label>
                        <input class="form-control" value="@Model.DraughtAboveMTCPlus50?.ToString("0.000")" readonly />                        
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCPlus50Above" class="control-label small-label"></label>
                        <input asp-for="MTCPlus50Above" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="MTCPlus50Above" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DraughtAboveMTCMinus50" class="small-label"></label>
                        <input class="form-control" value="@Model.DraughtAboveMTCMinus50?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCMinus50Above" class="control-label small-label"></label>
                        <input asp-for="MTCMinus50Above" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="MTCMinus50Above" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3">
                        <label></label>                        
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCPlus50FromTable" class="small-label"></label>
                        <input class="form-control" value="@Model.MTCPlus50FromTable?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label></label>                        
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCMinus50FromTable" class="small-label"></label>
                        <input class="form-control" value="@Model.MTCMinus50FromTable?.ToString("0.000")" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3">
                        <label asp-for="DraughtBelowMTCPlus50" class="small-label"></label>
                        <input class="form-control" value="@Model.DraughtBelowMTCPlus50?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCPlus50Below" class="control-label small-label"></label>
                        <input asp-for="MTCPlus50Below" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="MTCPlus50Below" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DraughtBelowMTCMinus50" class="small-label"></label>
                        <input class="form-control" value="@Model.DraughtBelowMTCMinus50?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-3">
                        <label asp-for="MTCMinus50Below" class="control-label small-label"></label>
                        <input asp-for="MTCMinus50Below" class="form-control" type="number" step="0.001" />
                        <span asp-validation-for="MTCMinus50Below" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                

                <div class="row mb-2">                    
                    <div class="col-3">
                        <label asp-for="FirstTrimCorrection" class="small-label"></label>
                        <input class="form-control" value="@Model.FirstTrimCorrection?.ToString("0.000")" readonly />
                    </div>                    
                    <div class="col-3">
                        <label asp-for="SecondTrimCorrection" class="small-label"></label>
                        <input class="form-control" value="@Model.SecondTrimCorrection?.ToString("0.000")" readonly />
                    </div>
                    <div class="col-6">
                        <label asp-for="DisplacementCorrectedForTrim" class="small-label"></label>
                        <input class="form-control" value="@Model.DisplacementCorrectedForTrim?.ToString("0.000")" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <label asp-for="DisplacementCorrectedForDensity" class="small-label"></label>
                        <input class="form-control" value="@Model.DisplacementCorrectedForDensity?.ToString("0.000")" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                    </div>                    
                    <div class="col-6">
                        <label asp-for="NettoDisplacement" class="small-label"></label>
                        <input class="form-control" value="@Model.NettoDisplacement?.ToString("0.000")" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <label asp-for="CargoPlusConstant" class="small-label"></label>
                        <input class="form-control" value="@Model.CargoPlusConstant?.ToString("0.000")" readonly />
                    </div>
                </div>
                <hr />

            </div>
        </div>
        
    </form>

    

