@model DraughtSurveyWebApp.Models.Inspection

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-8">
        <h4>@Model.VesselName</h4>
    </div>
    <div class="col-4 text-end">
        <a asp-action="Index">All Inspections</a>
    </div>
</div>



<div class="row">

    <!-- INSPECTION -->
    <div class="col-sm-4">

        <hr />
        <div class="d-flex justify-content-between align-content-between align-items-center mb-2"> 
            <h4>Inspection</h4>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit </a>
        </div>

        <dl class="row">
            <dt class="col-6 col-lg-7">Vessel</dt>
            <dd class="col-6 col-lg-5">@Model.VesselName</dd>

            <dt class="col-6 col-lg-7">@Html.DisplayNameFor(model => model.Port)</dt>
            <dd class="col-6 col-lg-5">@Html.DisplayFor(model => model.Port)</dd>

            <dt class="col-6 col-lg-7">File Reference</dt>
            <dd class="col-6 col-lg-5">@Html.DisplayFor(model => model.CompanyReference)</dd>

            <dt class="col-6 col-lg-7">Operation Type</dt>
            <dd class="col-6 col-lg-5">@Html.DisplayFor(model => model.OperationType)</dd>

            <dt class="col-6 col-lg-7">Input alerts</dt>
            <dd class="col-6 col-lg-5">@(Model.notShowInputWarnings ? "Off" : "On")</dd>
        </dl>

    </div>

    <!-- VESSEL -->
    <div class="col-sm-4">           
        <hr />    
        @if(Model.VesselInput != null)
        {            
            <div class="d-flex justify-content-between align-content-between align-items-center mb-2" id="draught-vessel-input" >                    
                <h4>Vessel Information</h4>                    
                <a asp-action="Edit" asp-controller="VesselInput" asp-route-inspectionId="@Model.Id">Edit</a>                    
            </div>    
            
            @if (TempData["VesselAutoFilled"] != null)
            {
                <div class="alert alert-info">
                    <strong>Note: </strong>@TempData["VesselAutoFilled"]
                </div>
            }
            
            <dl class="row">
                <dt class="col-6 col-lg-7">IMO</dt>
                <dd class="col-6 col-lg-5">@Model.VesselInput.IMO</dd>

                <dt class="col-6 col-lg-7">LBP</dt>
                <dd class="col-6 col-lg-5">@Model.VesselInput.LBP?.ToString("N3")</dd>

                <dt class="col-6 col-lg-7">BM</dt>
                <dd class="col-6 col-lg-5">@Model.VesselInput.BM?.ToString("N3")</dd>

                <dt class="col-6 col-lg-7">LS</dt>
                <dd class="col-6 col-lg-5">@Model.VesselInput.LS?.ToString("N3")</dd>

                <dt class="col-6 col-lg-7">SDWT</dt>
                <dd class="col-6 col-lg-5">@(Model.VesselInput.SDWT?.ToString("N3")+ " mt")</dd>

                <dt class="col-6 col-lg-7">Declared Constant</dt>
                <dd class="col-6 col-lg-5">@Model.VesselInput.DeclaredConstant?.ToString("N3")</dd>
            </dl> 
            
            }
            else
            {
                
                    
                    <span class="text-muted">Vessel Information not entered yet |</span>
                    <a asp-action="Create" asp-controller="VesselInput" asp-route-inspectionId="@Model.Id">Add Vessel Info</a>
                
            }    

       </div>
            
       <!-- CARGO -->
       <div class="col-sm-4">
           <hr />
           @if (Model.CargoInput != null)
           {
               <div class="d-flex justify-content-between align-content-between align-items-center mb-2" id="draught-cargo-input">                        
                   <h4>Cargo Information</h4>                        
                   <a asp-action="Edit" asp-controller="CargoInput" asp-route-inspectionId="@Model.Id">Edit</a>                        
               </div>        

               <dl class="row">
                   <dt class="col-6 col-lg-7">Cargo Name</dt>
                   <dd class="col-6 col-lg-5">@Model.CargoInput.CargoName</dd>
                            
                   <dt class="col-6 col-lg-7">Declared Weight</dt>
                   <dd class="col-6 col-lg-5">@Model.CargoInput.DeclaredWeight?.ToString("N3")</dd>

                   <dt class="col-6 col-lg-7">Loading Terminal</dt>
                   <dd class="col-6 col-lg-5">@Model.CargoInput.LoadingTerminal</dd>

                   <dt class="col-6 col-lg-7">Berth No.</dt>
                   <dd class="col-6 col-lg-5">@Model.CargoInput.BerthNumber</dd>
               </dl>    
                }
                else
                {
                    
                        <span class="text-muted">Cargo Information not entered yet |</span>
                        <a asp-action="Create" asp-controller="CargoInput" asp-route-inspectionId="@Model.Id">Add Cargo Info</a>
                    
                    
                }
        </div>            
</div>


<!-- INITIAL & FINAL DRAUGHTS -->
<div class="row">

    <!-- INITIAL -->
    <div class="col-sm-6">
        @if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial))
{
    var initialBlock = Model.DraughtSurveyBlocks.First(ds => ds.SurveyType == SurveyType.Initial);
    <hr />
    @* <h4>Initial Draught Survey</h4> *@

    <details open>


        <summary class="h4 mb-2">
            Initial Draught Survey
            @* <span class="ms-auto">&#9662;</span>             *@
            
        </summary>
        <hr />


        <div>
            @if(initialBlock.SurveyTimeStart.HasValue || initialBlock.SurveyTimeEnd.HasValue || initialBlock.CargoOperationsDateTime.HasValue)
        {
        
        <div class="row" id="initial-draught-times">
            <div class="col-6">
                <h4>Initial Time Sheet</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@initialBlock.Id" >Edit Times</a>
            </div>
        </div>
        
        <dl class="row">            

            <dt class="col-6 col-sm-7">Survey commenced</dt>
            <dd class="col-6 col-sm-5">@initialBlock.SurveyTimeStart?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-7">Survey completed</dt>
            <dd class="col-6 col-sm-5">@initialBlock.SurveyTimeEnd?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-7">
                @(Model.OperationType == OperationType.Loading ? "Loading commenced" : "Discharging commenced")
            </dt>
            <dd class="col-6 col-sm-5">@initialBlock.CargoOperationsDateTime?.ToString("yyyy-MM-dd HH:mm")</dd>
        </dl>
        }
        else
        { 
        
        <div class="row">
            <div class="col-6">
                <p>Initial times not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Times</a>
            </div>
        </div>        
        }
        </div>

        @if(initialBlock.DraughtsInput != null && initialBlock.DraughtsResults != null)
    {        
        @* <dt>Draughts</dt> *@
        <hr />
        <div class="row" id="initial-draught-draughts">
            <div class="col-6">
                <h4>Initial Draughts</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Draughts</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-2 col-sm-2">PS</dt>
            <dt class="col-2 col-sm-2">SS</dt>
            <dt class="col-2 col-sm-2">Mean</dt>
            <dt class="col-2 col-sm-2">Dist.</dt>
            <dt class="col-2 col-sm-2">Corr.</dt>
            <dt class="col-2 col-sm-2">Corr'd</dt>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtFwdPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtFwdSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedFwd?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtMidPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtMidSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedMid?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtAftPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtAftSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedAft?.ToString("N3")</dd>

            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.TrimApparent?.ToString("N3")</dd>
            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.TrimCorrected?.ToString("N3")</dd>

                @* @if (initialBlock.HydrostaticInput != null &&
                        initialBlock.HydrostaticInput.DraughtBelow.HasValue && initialBlock.HydrostaticInput.DraughtAbove.HasValue &&
                        !(
                            initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value) &&
                            initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value)
                        )                            
                    )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                } *@

            <dt class="col-6 col-sm-7">Mean Adjusted Draught</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DraughtsResults.MeanAdjustedDraught?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">@(initialBlock.DraughtsResults.HoggingSagging < 0 ? "Hogging" : "Sagging")</dt>
            <dd class="col-6 col-sm-5">
                @(initialBlock.DraughtsResults.HoggingSagging.HasValue
                    ? Math.Abs(initialBlock.DraughtsResults.HoggingSagging.Value).ToString("N3")
                    : "")
            </dd>

            <dt class="col-6 col-sm-7">@((initialBlock.DraughtsInput.DraughtMidPS - initialBlock.DraughtsInput.DraughtMidSS) < 0 ? "Heel to SS" : "Heel to PS")</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DraughtsResults.Heel?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Sea Water Density</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DraughtsInput.SeaWaterDensity?.ToString("N4")</dd>

            <dt class="col-6 col-sm-7">Keel Correction</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DraughtsInput.KeelCorrection?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Initial draughts not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Draughts</a>
            </div>
        </div>
    }

    @if (initialBlock.HydrostaticInput != null && initialBlock.HydrostaticResults != null)
    {
        <hr />
        <div class="row" id="initial-draught-hydrostatics">
            <div class="col-6">
                <h4>Initial Hydrostatics</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
        

        <dl class="row">           

            @if (initialBlock.HydrostaticInput != null &&
                 initialBlock.HydrostaticInput.DraughtBelow.HasValue && initialBlock.HydrostaticInput.DraughtAbove.HasValue &&
                 initialBlock.DraughtsResults != null &&
                    !(
                     initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value) &&
                     initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value)
                    )                            
                 )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                }

            <dt class="col-6 col-sm-7">Table Displacement</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.DisplacementFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table TPC</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.TPCFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table LCF</dt>
            <dd class="col-6 col-sm-5">
                    @{
                        var lcf = initialBlock.HydrostaticResults.LCFFromTable;
                        var lbp = initialBlock.Inspection.VesselInput?.LBP;
                        string displayValue = string.Empty;
                        string displayDirection = string.Empty;

                        if (lcf.HasValue && lbp.HasValue)
                        {
                            var isLcfFromAft = lcf.Value > 25;
                            var value = isLcfFromAft 
                                ? Math.Abs((lbp.Value/2)-lcf.Value) 
                                : lcf.Value;

                            displayValue = value.ToString("N3");
                        }

                        var resultValueToView = initialBlock.HydrostaticResults.LCFFromTable?.ToString("N3");

                        if (initialBlock.HydrostaticInput != null)
                        {
                            displayDirection  = initialBlock.HydrostaticInput.IsLCFForward != null
                            ? (initialBlock.HydrostaticInput.IsLCFForward == true ? "FWD" : "AFT")
                            : string.Empty;
                        }

                    }
                    
                    @displayValue
                    @displayDirection
                    
                    

                
            </dd>

            <dt class="col-6 col-sm-7">Table MTC +50 cm</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.MTCPlus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table MTC -50 cm</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.MTCMinus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">1st Trim Correction</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.FirstTrimCorrection?.ToString("N3")</dd>
                @* @(initialBlock.HydrostaticResults.FirstTrimCorrection.HasValue
                    ? Math.Abs(initialBlock.HydrostaticResults.FirstTrimCorrection.Value).ToString("N3")
                    : null) *@
            

            <dt class="col-6 col-sm-7">2nd Trim Correction</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.SecondTrimCorrection?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">D2 corr'd for Trim</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.DisplacementCorrectedForTrim?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">D3 corr'd for Density</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.DisplacementCorrectedForDensity?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">NETTO Displacement</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.NettoDisplacement?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Cargo + Constant</dt>
            <dd class="col-6 col-sm-5">@initialBlock.HydrostaticResults.CargoPlusConstant?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-7">
                <p>Initial hydrostatics not entered yet</p>
            </div>
            <div class="col-5 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
    }


    @if (initialBlock.DeductiblesInput !=null && initialBlock.DeductiblesResults != null)
    {
        <hr />
        <div class="row" id="initial-draught-deductibles">
            <div class="col-6">
                <h4>Initial Deductibles</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Deductibles</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-6 col-sm-7">Ballast Water, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.Ballast?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Fresh Water, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.FreshWater?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Fuel Oil, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.FuelOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Diesel Oil, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.DieselOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Lub. Oil, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.LubOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Others, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesInput.Others?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Total Deductibles, mt</dt>
            <dd class="col-6 col-sm-5">@initialBlock.DeductiblesResults.TotalDeductibles?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Initial deductibles not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Deductibles</a>
            </div>
        </div>
    }

    </details>    

    


}
else
{
    <hr />
    <h4>Initial Survey</h4>

    <p>
        <span class="text-muted">Initial survey not started |</span>
        <a asp-action="Create" asp-controller="DraughtSurveyBlock" asp-route-inspectionId="@Model.Id" asp-route-surveyType="Initial">Start Initial Survey</a>
    </p>   
    
}
    </div>

    <!-- FINAL -->
    <div class="col-sm-6">
        @if (Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final))
{
    var finalBlock = Model.DraughtSurveyBlocks.First(ds => ds.SurveyType == SurveyType.Final);
    <hr />
    @* <h4>Final Survey Steps</h4> *@

    <details open>

        <summary class="h4 mb-2">
            Final Draught Survey
            @* <span class="ms-auto">&#9662;</span>             *@
            
        </summary>
        <hr />

        <div>
            @if(finalBlock.SurveyTimeStart.HasValue || finalBlock.SurveyTimeEnd.HasValue || finalBlock.CargoOperationsDateTime.HasValue)
        {
        
        <div class="row" id="#final-draught-times">
            <div class="col-6">
                <h4>Final Time Sheet</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@finalBlock.Id" >Edit Times</a>
            </div>
        </div>
        
        <dl class="row">            

            <dt class="col-6 col-sm-7">Survey commenced</dt>
            <dd class="col-6 col-sm-5">@finalBlock.SurveyTimeStart?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-7">Survey completed</dt>
            <dd class="col-6 col-sm-5">@finalBlock.SurveyTimeEnd?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-7">
                @(Model.OperationType == OperationType.Loading ? "Loading commenced" : "Discharging commenced")
            </dt>
            <dd class="col-6 col-sm-5">@finalBlock.CargoOperationsDateTime?.ToString("yyyy-MM-dd HH:mm")</dd>
        </dl>
        }
        else
        { 
        
        <div class="row">
            <div class="col-6">
                <p>Final times not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Times</a>
            </div>
        </div>        
        }
        </div>


        @if(finalBlock.DraughtsInput != null && finalBlock.DraughtsResults != null)
    {        
        @* <dt>Draughts</dt> *@
        <hr />
        <div class="row" id="final-draught-draughts">
            <div class="col-6">
                <h4>Final Draughts</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Draughts</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-2 col-sm-2">PS</dt>
            <dt class="col-2 col-sm-2">SS</dt>
            <dt class="col-2 col-sm-2">Mean</dt>
            <dt class="col-2 col-sm-2">Dist.</dt>
            <dt class="col-2 col-sm-2">Corr.</dt>
            <dt class="col-2 col-sm-2">Corr'd</dt>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtFwdPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtFwdSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedFwd?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtMidPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtMidSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedMid?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtAftPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtAftSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedAft?.ToString("N3")</dd>

            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.TrimApparent?.ToString("N3")</dd>
            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.TrimCorrected?.ToString("N3")</dd>

                @* @if (finalBlock.HydrostaticInput != null &&
                        finalBlock.HydrostaticInput.DraughtBelow.HasValue && finalBlock.HydrostaticInput.DraughtAbove.HasValue &&
                        !(
                            finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value) &&
                            finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value)
                        )                            
                    )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                } *@

            <dt class="col-6 col-sm-7">Mean Adjusted Draught</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DraughtsResults.MeanAdjustedDraught?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">@(finalBlock.DraughtsResults.HoggingSagging < 0 ? "Hogging" : "Sagging")</dt>
            <dd class="col-6 col-sm-5">
                @(finalBlock.DraughtsResults.HoggingSagging.HasValue
                    ? Math.Abs(finalBlock.DraughtsResults.HoggingSagging.Value).ToString("N3")
                    : "")
            </dd>

            <dt class="col-6 col-sm-7">@((finalBlock.DraughtsInput.DraughtMidPS - finalBlock.DraughtsInput.DraughtMidSS) < 0 ? "Heel to SS" : "Heel to PS")</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DraughtsResults.Heel?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Sea Water Density</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DraughtsInput.SeaWaterDensity?.ToString("N4")</dd>

            <dt class="col-6 col-sm-7">Keel Correction</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DraughtsInput.KeelCorrection?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Final draughts not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Draughts</a>
            </div>
        </div>
    }

    @if (finalBlock.HydrostaticInput != null && finalBlock.HydrostaticResults != null)
    {
        <hr />
        <div class="row" id="final-draught-hydrostatics">
            <div class="col-6">
                <h4>Final Hydrostatics</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>

        <dl class="row">

            @if (finalBlock.HydrostaticInput != null &&
                 finalBlock.HydrostaticInput.DraughtBelow.HasValue && finalBlock.HydrostaticInput.DraughtAbove.HasValue &&
                 finalBlock.DraughtsResults != null &&
                    !(
                     finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value) &&
                     finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value)
                    )                            
                  )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                }

            <dt class="col-6 col-sm-7">Table Displacement</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.DisplacementFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table TPC</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.TPCFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table LCF</dt>
            <dd class="col-6 col-sm-5">
                    @{
                        var lcf = finalBlock.HydrostaticResults.LCFFromTable;
                        var lbp = finalBlock.Inspection.VesselInput?.LBP;
                        string displayValue = string.Empty;
                        string displayDirection = string.Empty;

                        if (lcf.HasValue && lbp.HasValue)
                        {
                            var isLcfFromAft = lcf.Value > 25;
                            var value = isLcfFromAft 
                                ? Math.Abs((lbp.Value/2)-lcf.Value) 
                                : lcf.Value;

                            displayValue = value.ToString("N3");
                        }

                        var resultValueToView = finalBlock.HydrostaticResults.LCFFromTable?.ToString("N3");

                        if (finalBlock.HydrostaticInput != null)
                        {
                            displayDirection  = finalBlock.HydrostaticInput.IsLCFForward != null
                            ? (finalBlock.HydrostaticInput.IsLCFForward == true ? "FWD" : "AFT")
                            : string.Empty;
                        }

                    }
                    
                    @displayValue
                    @displayDirection
                    
                    

                
            </dd>

            <dt class="col-6 col-sm-7">Table MTC +50 cm</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.MTCPlus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Table MTC -50 cm</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.MTCMinus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">1st Trim Correction</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.FirstTrimCorrection?.ToString("N3")</dd>
                @* @(finalBlock.HydrostaticResults.FirstTrimCorrection.HasValue
                    ? Math.Abs(finalBlock.HydrostaticResults.FirstTrimCorrection.Value).ToString("N3")
                    : null) *@
            

            <dt class="col-6 col-sm-7">2nd Trim Correction</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.SecondTrimCorrection?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">D2 corr'd for Trim</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.DisplacementCorrectedForTrim?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">D3 corr'd for Density</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.DisplacementCorrectedForDensity?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">NETTO Displacement</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.NettoDisplacement?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Cargo + Constant</dt>
            <dd class="col-6 col-sm-5">@finalBlock.HydrostaticResults.CargoPlusConstant?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-7">
                <p>Final hydrostatics not entered yet</p>
            </div>
            <div class="col-5 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
    }


    @if (finalBlock.DeductiblesInput !=null && finalBlock.DeductiblesResults != null)
    {
        <hr />
        <div class="row" id="final-draught-deductibles">
            <div class="col-6">
                <h4>Final Deductibles</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Deductibles</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-6 col-sm-7">Ballast Water, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.Ballast?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Fresh Water, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.FreshWater?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Fuel Oil, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.FuelOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Diesel Oil, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.DieselOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Lub. Oil, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.LubOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Others, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesInput.Others?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Total Deductibles, mt</dt>
            <dd class="col-6 col-sm-5">@finalBlock.DeductiblesResults.TotalDeductibles?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Final deductibles not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Deductibles</a>
            </div>
        </div>
    }

        

    </details>

    

   
}
else
{
    <hr />
    <h4>Final Survey</h4>
    <hr />
    <p>
        <span class="text-muted">Final survey not started |</span>
        <a asp-action="Create" asp-controller="DraughtSurveyBlock" asp-route-inspectionId="@Model.Id" asp-route-surveyType="Final">Start Final Survey</a>
    </p>

}
    </div>
</div>







@if(
    Model.CargoInput != null &&     
    Model.CargoResult != null &&        
    Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial) && 
    Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final)
    )
{
    <hr />

    <details open>
        <summary class="h4 mb-2">
            Cargo Calculations
        </summary>
    
    <hr />

    <dl class="row">
            <dt class="col-6 col-sm-7">Cargo as per draught survey, mt</dt>
            <dd class="col-6 col-sm-5">@Model.CargoResult?.CargoByDraughtSurvey?.ToString("N3")</dd>

            <dt class="col-6 col-sm-7">Difference with Bill of Lading, mt</dt>
            <dd class="col-6 col-sm-5">@Model.CargoResult?.DifferenceWithBL_Mt?.ToString("N3")</dd>            

            <dt class="col-6 col-sm-7">Difference with Bill of Lading, %</dt>
            <dd class="col-6 col-sm-5">@Model.CargoResult?.DifferenceWithBL_Percents?.ToString("N3")</dd>            

            <dt class="col-6 col-sm-7">Difference with SDWT, %</dt>
            <dd class="col-6 col-sm-5">@Model.CargoResult?.DifferenceWithSDWT_Percents?.ToString("N3")</dd>            
    </dl>

    </details>   
}
else
{
    <hr />

    <details open>
        <summary class="h4 mb-2">
            Cargo Calculations
        </summary>   
    
    <hr />        
    
    @if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial))
    {
        <div class="text-muted">Initial survey not completed</div>
    }
    
    @if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final))
    {
        <div class="text-muted">Final survey not completed</div>
    }

    </details>       
    
}
