@model DraughtSurveyWebApp.Models.Inspection

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-8">
        <h4>@Model.VesselName</h4>
    </div>
    <div class="col-4 text-end">
        <a asp-action="Index">All Inspections</a>
    </div>
</div>



<div>
    <hr />
    <div class="row" id="draught-inspection-input">
        <div class="col">
            <h4>Inspection</h4>
        </div>

        @* <div class="col-auto">
            <div class="form-check form-check-inline">
            <input asp-for="notShowInputWarnings" class="form-check-input" type="checkbox"/>
            <label asp-for="notShowInputWarnings" class="form-check-label">
                Don't show inputs warning
            </label>
        </div>
        </div> *@
        

        <div class="col-auto text-end">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit </a>
            
        </div>
    </div>   
    @* <hr /> *@

    <dl class="row">
        <dt class="col-6 col-sm-3">Vessel</dt>
        <dd class="col-6 col-sm-9">@Model.VesselName</dd>
        
        <dt class="col-6 col-sm-3">@Html.DisplayNameFor(model => model.Port)</dt>
        <dd class="col-6 col-sm-9">@Html.DisplayFor(model => model.Port)</dd>
        
        <dt class="col-6 col-sm-3">File Reference</dt>
        <dd class="col-6 col-sm-9">@Html.DisplayFor(model => model.CompanyReference)</dd>
        
        <dt class="col-6 col-sm-3">Operation Type</dt>
        <dd class="col-6 col-sm-9">@Html.DisplayFor(model => model.OperationType)</dd>

        <dt class="col-6 col-sm-3">Input alerts</dt>
        <dd class="col-6 col-sm-9">@(Model.notShowInputWarnings ? "Off" : "On")</dd>
    </dl>
</div>

@if (Model.VesselInput != null || Model.CargoInput != null)
{
    <hr />

    <div class="row">

        @if(Model.VesselInput != null)
        {
            <div class="col-sm-6">           
    
                <div class="d-flex justify-content-between align-content-between align-items-center mb-2" id="draught-vessel-input" >                    
                        <h4>Vessel Information</h4>
                    
                    
                        <a asp-action="Edit" asp-controller="VesselInput" asp-route-inspectionId="@Model.Id">Edit</a>
                    
                </div>    
                @* <hr /> *@

                @if (TempData["VesselAutoFilled"] != null)
                {
                <div class="alert alert-info">
                    <strong>Note: </strong>
                    @TempData["VesselAutoFilled"]
                </div>
                }

                <dl class="row">
                    <dt class="col-6 col-sm-3">IMO</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.IMO</dd>

                    <dt class="col-6 col-sm-3">LBP</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.LBP?.ToString("N3")</dd>

                    <dt class="col-6 col-sm-3">BM</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.BM?.ToString("N3")</dd>

                    <dt class="col-6 col-sm-3">LS</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.LS?.ToString("N3")</dd>

                    <dt class="col-6 col-sm-3">SDWT</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.SDWT?.ToString("N3")</dd>

                    <dt class="col-6 col-sm-3">Declared Constant</dt>
                    <dd class="col-6 col-sm-9">@Model.VesselInput.DeclaredConstant?.ToString("N3")</dd>
                </dl>   
                
                </div>
    
                }
                else
                {
                    <div class="col-sm-6">
                        <hr/>
                    <span class="text-muted">Vessel Information not entered yet |</span>
                    <a asp-action="Create" asp-controller="VesselInput" asp-route-inspectionId="@Model.Id">Add Vessel Info</a>
                    </div>
            
                }    
    
        


        
            
                @if (Model.CargoInput != null)
                {
                    <div class="col-sm-6">
                    
                    <div class="d-flex justify-content-between align-content-between align-items-center mb-2" id="draught-cargo-input">                        
                            <h4>Cargo Information</h4>                        
                            <a asp-action="Edit" asp-controller="CargoInput" asp-route-inspectionId="@Model.Id">Edit</a>                        
                    </div>        

                    <dl class="row">
                        <dt class="col-6 col-sm-3">Cargo Name</dt>
                        <dd class="col-6 col-sm-9">@Model.CargoInput.CargoName</dd>

                        <dt class="col-6 col-sm-3">Declared Weight</dt>
                        <dd class="col-6 col-sm-9">@Model.CargoInput.DeclaredWeight?.ToString("N3")</dd>

                        <dt class="col-6 col-sm-3">Loading Terminal</dt>
                        <dd class="col-6 col-sm-9">@Model.CargoInput.LoadingTerminal</dd>

                        <dt class="col-6 col-sm-3">Berth No.</dt>
                        <dd class="col-6 col-sm-9">@Model.CargoInput.BerthNumber</dd>
                    </dl>    
                    </div>

                }
                else
                {
                    <div class="col-sm-6">                        
                    <span class="text-muted">Cargo Information not entered yet |</span>
                    <a asp-action="Create" asp-controller="CargoInput" asp-route-inspectionId="@Model.Id">Add Cargo Info</a>
                    </div>
                    
                }
            </div>            
    
}






@if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial))
{
    var initialBlock = Model.DraughtSurveyBlocks.First(ds => ds.SurveyType == SurveyType.Initial);
    <hr />
    @* <h4>Initial Draught Survey</h4> *@

    <details open>


        <summary class="h4 mb-2">
            Initial Draught Survey
            @* <span class="ms-auto">&#9662;</span>             *@
            
        </summary>
        <hr />


        <div>
            @if(initialBlock.SurveyTimeStart.HasValue || initialBlock.SurveyTimeEnd.HasValue || initialBlock.CargoOperationsDateTime.HasValue)
        {
        
        <div class="row" id="initial-draught-times">
            <div class="col-6">
                <h4>Initial Time Sheet</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@initialBlock.Id" >Edit Times</a>
            </div>
        </div>
        
        <dl class="row">            

            <dt class="col-6 col-sm-3">Survey commenced</dt>
            <dd class="col-6 col-sm-9">@initialBlock.SurveyTimeStart?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-3">Survey completed</dt>
            <dd class="col-6 col-sm-9">@initialBlock.SurveyTimeEnd?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-3">
                @(Model.OperationType == OperationType.Loading ? "Loading commenced" : "Discharging commenced")
            </dt>
            <dd class="col-6 col-sm-9">@initialBlock.CargoOperationsDateTime?.ToString("yyyy-MM-dd HH:mm")</dd>
        </dl>
        }
        else
        { 
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Initial times not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Times</a>
            </div>
        </div>        
        }
        </div>

        @if(initialBlock.DraughtsInput != null && initialBlock.DraughtsResults != null)
    {        
        @* <dt>Draughts</dt> *@
        <hr />
        <div class="row" id="initial-draught-draughts">
            <div class="col-6">
                <h4>Initial Draughts</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Draughts</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-2 col-sm-2">PS</dt>
            <dt class="col-2 col-sm-2">SS</dt>
            <dt class="col-2 col-sm-2">Mean</dt>
            <dt class="col-2 col-sm-2">Dist.</dt>
            <dt class="col-2 col-sm-2">Corr.</dt>
            <dt class="col-2 col-sm-2">Corr'd</dt>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtFwdPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtFwdSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedFwd?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtMidPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtMidSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedMid?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtAftPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DraughtAftSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtMeanAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsInput.DistanceAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectionAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.DraughtCorrectedAft?.ToString("N3")</dd>

            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.TrimApparent?.ToString("N3")</dd>
            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@initialBlock.DraughtsResults.TrimCorrected?.ToString("N3")</dd>

                @* @if (initialBlock.HydrostaticInput != null &&
                        initialBlock.HydrostaticInput.DraughtBelow.HasValue && initialBlock.HydrostaticInput.DraughtAbove.HasValue &&
                        !(
                            initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value) &&
                            initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value)
                        )                            
                    )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                } *@

            <dt class="col-6 col-sm-3">Mean Adjusted Draught</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DraughtsResults.MeanAdjustedDraught?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">@(initialBlock.DraughtsResults.HoggingSagging < 0 ? "Hogging" : "Sagging")</dt>
            <dd class="col-6 col-sm-9">
                @(initialBlock.DraughtsResults.HoggingSagging.HasValue
                    ? Math.Abs(initialBlock.DraughtsResults.HoggingSagging.Value).ToString("N3")
                    : "")
            </dd>

            <dt class="col-6 col-sm-3">@((initialBlock.DraughtsInput.DraughtMidPS - initialBlock.DraughtsInput.DraughtMidSS) < 0 ? "Heel to SS" : "Heel to PS")</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DraughtsResults.Heel?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Sea Water Density</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DraughtsInput.SeaWaterDensity?.ToString("N4")</dd>

            <dt class="col-6 col-sm-3">Keel Correction</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DraughtsInput.KeelCorrection?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Initial draughts not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Draughts</a>
            </div>
        </div>
    }

    @if (initialBlock.HydrostaticInput != null && initialBlock.HydrostaticResults != null)
    {
        <hr />
        <div class="row" id="initial-draught-hydrostatics">
            <div class="col-6">
                <h4>Initial Hydrostatics</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
        

        <dl class="row">           

            @if (initialBlock.HydrostaticInput != null &&
                 initialBlock.HydrostaticInput.DraughtBelow.HasValue && initialBlock.HydrostaticInput.DraughtAbove.HasValue &&
                 initialBlock.DraughtsResults != null &&
                    !(
                     initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value) &&
                     initialBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(initialBlock.HydrostaticInput.DraughtBelow.Value, initialBlock.HydrostaticInput.DraughtAbove.Value)
                    )                            
                 )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                }

            <dt class="col-6 col-sm-3">Table Displacement</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.DisplacementFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table TPC</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.TPCFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table LCF</dt>
            <dd class="col-6 col-sm-9">
                    @{
                        var lcf = initialBlock.HydrostaticResults.LCFFromTable;
                        var lbp = initialBlock.Inspection.VesselInput?.LBP;
                        string displayValue = string.Empty;
                        string displayDirection = string.Empty;

                        if (lcf.HasValue && lbp.HasValue)
                        {
                            var isLcfFromAft = lcf.Value > 25;
                            var value = isLcfFromAft 
                                ? Math.Abs((lbp.Value/2)-lcf.Value) 
                                : lcf.Value;

                            displayValue = value.ToString("N3");
                        }

                        var resultValueToView = initialBlock.HydrostaticResults.LCFFromTable?.ToString("N3");

                        if (initialBlock.HydrostaticInput != null)
                        {
                            displayDirection  = initialBlock.HydrostaticInput.IsLCFForward != null
                            ? (initialBlock.HydrostaticInput.IsLCFForward == true ? "FWD" : "AFT")
                            : string.Empty;
                        }

                    }
                    
                    @displayValue
                    @displayDirection
                    
                    

                
            </dd>

            <dt class="col-6 col-sm-3">Table MTC +50 cm</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.MTCPlus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table MTC -50 cm</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.MTCMinus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">1st Trim Correction</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.FirstTrimCorrection?.ToString("N3")</dd>
                @* @(initialBlock.HydrostaticResults.FirstTrimCorrection.HasValue
                    ? Math.Abs(initialBlock.HydrostaticResults.FirstTrimCorrection.Value).ToString("N3")
                    : null) *@
            

            <dt class="col-6 col-sm-3">2nd Trim Correction</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.SecondTrimCorrection?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">D2 corr'd for Trim</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.DisplacementCorrectedForTrim?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">D3 corr'd for Density</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.DisplacementCorrectedForDensity?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">NETTO Displacement</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.NettoDisplacement?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Cargo + Constant</dt>
            <dd class="col-6 col-sm-9">@initialBlock.HydrostaticResults.CargoPlusConstant?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-7">
                <p>Initial hydrostatics not entered yet</p>
            </div>
            <div class="col-5 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
    }


    @if (initialBlock.DeductiblesInput !=null && initialBlock.DeductiblesResults != null)
    {
        <hr />
        <div class="row" id="initial-draught-deductibles">
            <div class="col-6">
                <h4>Initial Deductibles</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Deductibles</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-6 col-sm-3">Ballast Water, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.Ballast?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Fresh Water, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.FreshWater?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Fuel Oil, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.FuelOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Diesel Oil, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.DieselOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Lub. Oil, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.LubOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Others, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesInput.Others?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Total Deductibles, mt</dt>
            <dd class="col-6 col-sm-9">@initialBlock.DeductiblesResults.TotalDeductibles?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Initial deductibles not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@initialBlock.Id">Edit Deductibles</a>
            </div>
        </div>
    }

    </details>    

    


}
else
{
    <hr />
    <h4>Initial Survey</h4>

    <p>
        <span class="text-muted">Initial survey not started |</span>
        <a asp-action="Create" asp-controller="DraughtSurveyBlock" asp-route-inspectionId="@Model.Id" asp-route-surveyType="Initial">Start Initial Survey</a>
    </p>   
    
}

@if (Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final))
{
    var finalBlock = Model.DraughtSurveyBlocks.First(ds => ds.SurveyType == SurveyType.Final);
    <hr />
    @* <h4>Final Survey Steps</h4> *@

    <details open>

        <summary class="h4 mb-2">
            Final Draught Survey
            @* <span class="ms-auto">&#9662;</span>             *@
            <hr />
        </summary>
        

        <div>
            @if(finalBlock.SurveyTimeStart.HasValue || finalBlock.SurveyTimeEnd.HasValue || finalBlock.CargoOperationsDateTime.HasValue)
        {
        
        <div class="row" id="#final-draught-times">
            <div class="col-6">
                <h4>Final Time Sheet</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@finalBlock.Id" >Edit Times</a>
            </div>
        </div>
        
        <dl class="row">            

            <dt class="col-6 col-sm-3">Survey commenced</dt>
            <dd class="col-6 col-sm-9">@finalBlock.SurveyTimeStart?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-3">Survey completed</dt>
            <dd class="col-6 col-sm-9">@finalBlock.SurveyTimeEnd?.ToString("yyyy-MM-dd HH:mm")</dd>

            <dt class="col-6 col-sm-3">
                @(Model.OperationType == OperationType.Loading ? "Loading commenced" : "Discharging commenced")
            </dt>
            <dd class="col-6 col-sm-9">@finalBlock.CargoOperationsDateTime?.ToString("yyyy-MM-dd HH:mm")</dd>
        </dl>
        }
        else
        { 
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Final times not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="EditTimes" asp-controller="DraughtSurveyBlock" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Times</a>
            </div>
        </div>        
        }
        </div>


        @if(finalBlock.DraughtsInput != null && finalBlock.DraughtsResults != null)
    {        
        @* <dt>Draughts</dt> *@
        <hr />
        <div class="row" id="final-draught-draughts">
            <div class="col-6">
                <h4>Final Draughts</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Draughts</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-2 col-sm-2">PS</dt>
            <dt class="col-2 col-sm-2">SS</dt>
            <dt class="col-2 col-sm-2">Mean</dt>
            <dt class="col-2 col-sm-2">Dist.</dt>
            <dt class="col-2 col-sm-2">Corr.</dt>
            <dt class="col-2 col-sm-2">Corr'd</dt>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtFwdPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtFwdSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionFwd?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedFwd?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtMidPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtMidSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionMid?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedMid?.ToString("N3")</dd>

            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtAftPS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DraughtAftSS?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtMeanAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsInput.DistanceAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectionAft?.ToString("N3")</dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.DraughtCorrectedAft?.ToString("N3")</dd>

            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.TrimApparent?.ToString("N3")</dd>
            <dd class="col-4 col-sm-4"></dd>
            <dd class="col-2 col-sm-2">@finalBlock.DraughtsResults.TrimCorrected?.ToString("N3")</dd>

                @* @if (finalBlock.HydrostaticInput != null &&
                        finalBlock.HydrostaticInput.DraughtBelow.HasValue && finalBlock.HydrostaticInput.DraughtAbove.HasValue &&
                        !(
                            finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value) &&
                            finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value)
                        )                            
                    )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                } *@

            <dt class="col-6 col-sm-3">Mean Adjusted Draught</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DraughtsResults.MeanAdjustedDraught?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">@(finalBlock.DraughtsResults.HoggingSagging < 0 ? "Hogging" : "Sagging")</dt>
            <dd class="col-6 col-sm-9">
                @(finalBlock.DraughtsResults.HoggingSagging.HasValue
                    ? Math.Abs(finalBlock.DraughtsResults.HoggingSagging.Value).ToString("N3")
                    : "")
            </dd>

            <dt class="col-6 col-sm-3">@((finalBlock.DraughtsInput.DraughtMidPS - finalBlock.DraughtsInput.DraughtMidSS) < 0 ? "Heel to SS" : "Heel to PS")</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DraughtsResults.Heel?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Sea Water Density</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DraughtsInput.SeaWaterDensity?.ToString("N4")</dd>

            <dt class="col-6 col-sm-3">Keel Correction</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DraughtsInput.KeelCorrection?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Final draughts not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DraughtsInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Draughts</a>
            </div>
        </div>
    }

    @if (finalBlock.HydrostaticInput != null && finalBlock.HydrostaticResults != null)
    {
        <hr />
        <div class="row" id="final-draught-hydrostatics">
            <div class="col-6">
                <h4>Final Hydrostatics</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>

        <dl class="row">

            @if (finalBlock.HydrostaticInput != null &&
                 finalBlock.HydrostaticInput.DraughtBelow.HasValue && finalBlock.HydrostaticInput.DraughtAbove.HasValue &&
                 finalBlock.DraughtsResults != null &&
                    !(
                     finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection > Math.Min(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value) &&
                     finalBlock.DraughtsResults.MeanAdjustedDraughtAfterKeelCorrection < Math.Max(finalBlock.HydrostaticInput.DraughtBelow.Value, finalBlock.HydrostaticInput.DraughtAbove.Value)
                    )                            
                  )
                {
                    <div class="alert alert-danger">
                        Mean draught is out of range of table draught values. Calculations may be inaccurate.
                    </div>
                }

            <dt class="col-6 col-sm-3">Table Displacement</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.DisplacementFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table TPC</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.TPCFromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table LCF</dt>
            <dd class="col-6 col-sm-9">
                    @{
                        var lcf = finalBlock.HydrostaticResults.LCFFromTable;
                        var lbp = finalBlock.Inspection.VesselInput?.LBP;
                        string displayValue = string.Empty;
                        string displayDirection = string.Empty;

                        if (lcf.HasValue && lbp.HasValue)
                        {
                            var isLcfFromAft = lcf.Value > 25;
                            var value = isLcfFromAft 
                                ? Math.Abs((lbp.Value/2)-lcf.Value) 
                                : lcf.Value;

                            displayValue = value.ToString("N3");
                        }

                        var resultValueToView = finalBlock.HydrostaticResults.LCFFromTable?.ToString("N3");

                        if (finalBlock.HydrostaticInput != null)
                        {
                            displayDirection  = finalBlock.HydrostaticInput.IsLCFForward != null
                            ? (finalBlock.HydrostaticInput.IsLCFForward == true ? "FWD" : "AFT")
                            : string.Empty;
                        }

                    }
                    
                    @displayValue
                    @displayDirection
                    
                    

                
            </dd>

            <dt class="col-6 col-sm-3">Table MTC +50 cm</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.MTCPlus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Table MTC -50 cm</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.MTCMinus50FromTable?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">1st Trim Correction</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.FirstTrimCorrection?.ToString("N3")</dd>
                @* @(finalBlock.HydrostaticResults.FirstTrimCorrection.HasValue
                    ? Math.Abs(finalBlock.HydrostaticResults.FirstTrimCorrection.Value).ToString("N3")
                    : null) *@
            

            <dt class="col-6 col-sm-3">2nd Trim Correction</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.SecondTrimCorrection?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">D2 corr'd for Trim</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.DisplacementCorrectedForTrim?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">D3 corr'd for Density</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.DisplacementCorrectedForDensity?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">NETTO Displacement</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.NettoDisplacement?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Cargo + Constant</dt>
            <dd class="col-6 col-sm-9">@finalBlock.HydrostaticResults.CargoPlusConstant?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-7">
                <p>Final hydrostatics not entered yet</p>
            </div>
            <div class="col-5 text-end">
                <a asp-action="Edit" asp-controller="HydrostaticInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Hydrostatics</a>
            </div>
        </div>
    }


    @if (finalBlock.DeductiblesInput !=null && finalBlock.DeductiblesResults != null)
    {
        <hr />
        <div class="row" id="final-draught-deductibles">
            <div class="col-6">
                <h4>Final Deductibles</h4>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Deductibles</a>
            </div>
        </div>

        <dl class="row">
            <dt class="col-6 col-sm-3">Ballast Water, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.Ballast?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Fresh Water, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.FreshWater?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Fuel Oil, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.FuelOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Diesel Oil, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.DieselOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Lub. Oil, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.LubOil?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Others, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesInput.Others?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Total Deductibles, mt</dt>
            <dd class="col-6 col-sm-9">@finalBlock.DeductiblesResults.TotalDeductibles?.ToString("N3")</dd>
        </dl>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-6">
                <p>Final deductibles not entered yet</p>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Edit" asp-controller="DeductiblesInput" asp-route-draughtSurveyBlockId="@finalBlock.Id">Edit Deductibles</a>
            </div>
        </div>
    }

        

    </details>

    

   
}
else
{
    <hr />
    <h4>Final Survey</h4>
    <hr />
    <p>
        <span class="text-muted">Final survey not started |</span>
        <a asp-action="Create" asp-controller="DraughtSurveyBlock" asp-route-inspectionId="@Model.Id" asp-route-surveyType="Final">Start Final Survey</a>
    </p>

}



@if(
    Model.CargoInput != null &&     
    Model.CargoResult != null &&        
    Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial) && 
    Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final)
    )
{
    <hr />
    <h4>Cargo Calculations</h4>
    <hr />

    <dl class="row">
            <dt class="col-6 col-sm-3">Cargo as per draught survey, mt</dt>
            <dd class="col-6 col-sm-9">@Model.CargoResult?.CargoByDraughtSurvey?.ToString("N3")</dd>

            <dt class="col-6 col-sm-3">Difference with Bill of Lading, mt</dt>
            <dd class="col-6 col-sm-9">@Model.CargoResult?.DifferenceWithBL_Mt?.ToString("N3")</dd>            

            <dt class="col-6 col-sm-3">Difference with Bill of Lading, %</dt>
            <dd class="col-6 col-sm-9">@Model.CargoResult?.DifferenceWithBL_Percents?.ToString("N3")</dd>            

            <dt class="col-6 col-sm-3">Difference with SDWT, %</dt>
            <dd class="col-6 col-sm-9">@Model.CargoResult?.DifferenceWithSDWT_Percents?.ToString("N3")</dd>            
    </dl>
}
else
{
    <hr />
    <h4>Cargo Calculations</h4>
    <hr />
    <p>
        <span class="text-muted">Calculations are not ready</span>
        
        @if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Initial))
        {
          <span class="text-muted">Initial survey not completed</span>
        }

        @if(Model.DraughtSurveyBlocks.Any(ds => ds.SurveyType == SurveyType.Final))
        {
          <span class="text-muted">Initial survey not completed</span>
        }
        
    </p>        
}
