@model IEnumerable<DraughtSurveyWebApp.Models.Inspection>

@{
    ViewData["Title"] = "Index";
}

<h4>Your Inspections</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Vessel</th>
            <th>Port</th>
            <th>Reference</th>
            <th>Operation</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>User</th>
                    <th>Created at</th>
                }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VesselName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType)
            </td>

                @if (User.IsInRole("Admin"))
                {
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt.ToShortDateString())
                    </td>
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="me-2">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="me-2">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
