@model DraughtSurveyWebApp.ViewModels.DraughtsInputViewModel

@{
    ViewData["Title"] = "Edit Draught";
}

<form asp-action="Edit">

    <div class="row">
        <div class="col-6">
            <h4>Edit Draughts</h4>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId" class="btn btn-primary">Back</a>
        </div>
    </div>
    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="InspectionId" />
    <input type="hidden" asp-for="DraughtSurveyBlockId" />

    
    

    <div class="row">
        <div class="col-lg-6">
            <h6>Initial Apparent Draughts</h6>
            <hr />

            

            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="DraughtFwdPS" class="control-label small-label"></label>
                    <input asp-for="DraughtFwdPS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtFwdPS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtFwdSS" class="control-label small-label"></label>
                    <input asp-for="DraughtFwdSS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtFwdSS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtMeanFwd" class="small-label"></label>
                    <input id="fwdMean" class="form-control bg-light" value="@Model.DraughtMeanFwd?.ToString("0.000")" readonly />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="DraughtMidPS" class="control-label small-label"></label>
                    <input asp-for="DraughtMidPS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtMidPS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtMidSS" class="control-label small-label"></label>
                    <input asp-for="DraughtMidSS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtMidSS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtMeanMid" class="small-label"></label>
                    <input id="midMean" class="form-control bg-light" value="@Model.DraughtMeanMid?.ToString("0.000")" readonly />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-4">
                    <label asp-for="DraughtAftPS" class="control-label small-label"></label>
                    <input asp-for="DraughtAftPS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtAftPS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtAftSS" class="control-label small-label"></label>
                    <input asp-for="DraughtAftSS" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DraughtAftSS" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="DraughtMeanAft" class="small-label"></label>
                    <input id="aftMean" class="form-control bg-light" value="@Model.DraughtMeanAft?.ToString("0.000")" readonly />
                </div>
            </div>

            <hr />
            <div class="row mb-2">
                <div class="col-8">
                    <label asp-for="Heel" class="small-label">
                        @(Model.HoggingSagging == null ? "Heel" : (Model.DraughtMidPS - Model.DraughtMidSS) < 0 ? "Heel to SS" : "Heel to PS")
                    </label>
                    <input class="form-control bg-light" value="@Model.Heel?.ToString("0.000")" readonly />
                </div>
                <div class="col-4">
                    <label asp-for="TrimApparent" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.TrimApparent?.ToString("0.000")" readonly />
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h6>Initial Corrections</h6>
            <hr />

            @if (ViewData["DistancesSuggestionNote"] != null)
            {
                <div class="alert alert-info">
                    <strong>Note:</strong>
                    @Html.Raw(ViewData["DistancesSuggestionNote"])
                </div>
            }

            <div class="row mb-2">
                <div class="col-3">
                    <label asp-for="DistanceFwd" class="control-label small-label"></label>
                    <input asp-for="DistanceFwd" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DistanceFwd" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsFwdDistancetoFwd" value="true" />
                        <label class="form-check-label small-label">to Fwd</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsFwdDistancetoFwd" value="false" />
                        <label class="form-check-label small-label">to Aft</label>
                    </div>
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectionFwd" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectionFwd?.ToString("0.000")" readonly />
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectedFwd" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectedFwd?.ToString("0.000")" readonly />
                </div>
            </div>

            <div class="row mb-2">

                <div class="col-3">
                    <label asp-for="DistanceMid" class="control-label small-label"></label>
                    <input asp-for="DistanceMid" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DistanceMid" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsMidDistanceToFwd" value="true" />
                        <label class="form-check-label small-label">to Fwd</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsMidDistanceToFwd" value="false" />
                        <label class="form-check-label small-label">to Aft</label>
                    </div>
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectionMid" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectionMid?.ToString("0.000")" readonly />
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectedMid" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectedMid?.ToString("0.000")" readonly />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <label asp-for="DistanceAft" class="control-label small-label"></label>
                    <input asp-for="DistanceAft" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="DistanceAft" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsAftDistanceToFwd" value="true" />
                        <label class="form-check-label small-label">to Fwd</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsAftDistanceToFwd" value="false" />
                        <label class="form-check-label small-label">to Aft</label>
                    </div>
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectionAft" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectionAft?.ToString("0.000")" readonly />
                </div>
                <div class="col-3">
                    <label asp-for="DraughtCorrectedAft" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.DraughtCorrectedAft?.ToString("0.000")" readonly />
                </div>
            </div>

            <hr />
            <div class="row mb-2">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label asp-for="HoggingSagging" class="small-label">
                        @(Model.HoggingSagging == null ? "Hog/Sag" : Model.HoggingSagging < 0 ? "Hogging" : "Sagging")
                    </label>
                    <input class="form-control bg-light" value="@Model.HoggingSagging?.ToString("0.000")" readonly />
                </div>
                <div class="col-4">
                    <label asp-for="TrimCorrected" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.TrimCorrected?.ToString("0.000")" readonly />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <label asp-for="MeanAdjustedDraught" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.MeanAdjustedDraught?.ToString("0.000")" readonly />
                </div>
            </div>

            <hr />
            <div class="row mb-2">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <label asp-for="KeelCorrection" class="control-label small-label"></label>
                    <input asp-for="KeelCorrection" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="KeelCorrection" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <label asp-for="SeaWaterDensity" class="control-label small-label"></label>
                    <input asp-for="SeaWaterDensity" class="form-control" type="number" step="0.0005" />
                    <span asp-validation-for="SeaWaterDensity" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>



</form>


@* <div>
    <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId">Back</a>
</div> *@

@* @section Scripts {
    <script>

        function calculateApparentMeam(){
            const fwdPS = parseFloat(document.getElementById("DraughtFwdPS").value) || 0;
            const fwdSS = parseFloat(document.getElementById("DraughtFwdSS").value) || 0;
            const midPS = parseFloat(document.getElementById("DraughtMidPS").value) || 0;
            const midSS = parseFloat(document.getElementById("DraughtMidSS").value) || 0;
            const aftPS = parseFloat(document.getElementById("DraughtAftPS").value) || 0;
            const aftSS = parseFloat(document.getElementById("DraughtAftSS").value) || 0;

            const fwdMean = ((fwdPS + fwdSS)/2).toFixed(3);
            const midMean = ((midPS + midSS)/2).toFixed(3);
            const aftMean = ((aftPS + aftSS)/2).toFixed(3);

            document.getElementById("fwdMean").value = fwdMean;
            document.getElementById("midMean").value = midMean;
            document.getElementById("aftMean").value = aftMean;
        }

        document.addEventListener("DOMContentLoaded", function() {

            const fields = [
                "DraughtFwdPS", "DraughtFwdSS",
                "DraughtMidPS", "DraughtMidSS",
                "DraughtAftPS", "DraughtAftSS"
            ];

            fields.forEach(id => {
                const input = document.getElementById(id);

                if(input){
                    input.addEventListener("input", calculateApparentMeam);
                }
            });

            calculateApparentMeam();
        });

    </script>
}
 *@
